<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-list</title>
    <link rel="stylesheet" href="/styles.css"
</head>
<body>
   <div class="box" id="heading">

      <h1> <%= presentDay%></h1>
   </div>


   <div class="box">
     <%   newItems.forEach(element => { %>
      <form action="/delete"  method="post">
            <div class="item">
               <input type="checkbox" name="checkBox" value="<%=element._id %>" onChange="this.form.submit()" >
               <p><%=element.name %></p>

            </div>
         </form>
      <%   }); %>  
      

        <form class="item" action=<%=link%>  method="post">
         <input type="text" name="addItem" placeholder="New item" autocomplete="off" >
    <button type="submit" > +</button>
       </form>
   </div>
   
</body>
<footer>
   <p>Copyright @DESTINY</p>
</footer>
</html>